
 body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background 0.5s ease; 
}

#app-container {
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.light-theme {
    background: linear-gradient(135deg, #f8f8f8, #e4e4e4); 
}

.dark-theme {
    background: linear-gradient(135deg, #1a1a1d, #282c34); 
}

.neon-theme {
    background: linear-gradient(135deg, #7beeab, #1e7a8b); 
    animation: neon-glow 5s infinite; 
}

.custom-theme {
    background: linear-gradient(135deg, #f8f18f, #ecd18f); 
}


@keyframes neon-glow {
    0% {
        filter: brightness(1.2);
    }
    50% {
        filter: brightness(1.6);
    }
    100% {
        filter: brightness(1.2);
    }
}

button {
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

button:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
